# Python
backend/venv/
backend/__pycache__/
backend/.env
backend/generated_pdfs/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
# Secrets and Data
backend/token.json
backend/jobs.json
# backend/service-account.json
backend/telegram_config.json
backend/test_google_docs.py
server_extension/
